*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
nav {
    background-color: #333;
    padding: 10px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover {
    background-color: #555;
}

/* sign up */
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    max-width: 300px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
div + div {
    margin-top: 1em;
}
label {
    display: block;
    margin-bottom: .5em;
    color: #333333;
}
input {
    border: 1px solid #ccc;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #0056b3;
}